body {
    margin: 0px;
    padding:0px;
    position: relative;
    min-height: 100px;
    text-align: center;
}


/* Les différents paramètres définissant le titre:*/


h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Kite One';

}

h1 a{

    text-decoration: none;
    color: #15428E;
    
}


/* Les différents paramètres définissant la barre de naviguation:*/


nav#simple{
    font-family : 'Montserrat';
    background-color: #15428E;
    
    /* Les 2 enfants UL seront positionnés en flex, premier "à gauche", le second "à droite" */
    display : flex ;
    justify-content : space-between ;
    align-items: center ;

    line-height: 60px;

    align-items: stretch;

}

nav#simple ul {
    margin : 0px;
    padding : 0px;

    list-style-type: none ;

    /* Encore du flex pour les li de chaque ul */
    
    display: flex;
    flex-wrap: wrap;
}

nav#simple li.logo img {
    vertical-align: middle;
}

nav#simple li {
    padding-left : 20px ;
    padding-right : 20px ;
}

nav#simple ul.items li:hover {
    background: linear-gradient(#3A8EBA, #15428e);
}


nav#simple a {
    text-decoration : none ;
    color : #fff ;
}
        
nav#simple li:hover a {
    color : #FFF;
}

#searchbar{
    
    padding:15px;
    border-radius: 10px;
    border: none;
}


/* Les différents paramètres définissant la carte avec la localisation des villes:*/


#carte img{
    
    width: 100%;
}


figure {
    margin: 0px;
    position : relative ;
    border: none;
    display: inline-block;
    text-align: center;
}

div.spot {
    position : absolute ;
    background-image: url('../media/france/loc.png');
    background-position: center;
    background-repeat: no-repeat;
    width : 60px;
    height : 50px;
    
}

div.spot div {
    font-family:'Kite One';
    font-size: 0.8em;
    position : relative ;
    bottom : -40px;
    text-align: center;
    
}


/* Les différents paramètres définissant le div séparateur:*/


#separ{
    width: 100%;
    height: 20px;
    background-color: #15428E;
    margin-top: 20px;
}


/* Les différents paramètres définissant les div:*/


#container {
    /* Activation de flex sur le parent.
       Les blocs enfants (les viv de class bloc ici) sont désormais des composants flexibles et ne s'empilent plus du haut vers le bas selon l'ordre d'écrire comme les blocs traditionnels
    */
    display : flex ;

    /* S'il reste de la place dans le parent, il est réparti entre les items enfants (les div bloc ici) */
    justify-content : space-between ;

    /* les items enfants (les div bloc ici) peuvent passer à la ligne si ça manque de place sur la ligne en cours */    
    flex-wrap: wrap ;
    padding: 20px;
    background-image: url('https://images.pexels.com/photos/1303092/pexels-photo-1303092.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    
}

#container h2{
    width: 100%;
    color: #15428E;
}

div.agence{
    
    flex-grow: 0 ;
    flex-shrink: 0 ;
    background-color : rgba(216, 216, 216, 0.747) ;
    border-radius : 15px ;
    border-width : 3px ;
    box-shadow: 10px 10px 5px 0px #312f2fa9;
    margin-bottom: 25px;
    width: 100%;
}

.agence img{
    border-radius: 50px;
}


/* Les différents paramètres définissant le texte:*/


h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Kite One';
    color: #15428E;
}

p{
    font-size: 21px;
    text-align: left;
    font-family: 'Montserrat';
    color: #000000;
    margin: 20px;
}


/* Les différents paramètres définissant les boutons:*/


.button{

    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    width: auto;
    height: 50px;
    font-size: 25px;
    border-radius: 50px;
    border: none;
    color :#fff;
    background-color: #15428E;
    text-align: center;
}

.button:hover{

    background: linear-gradient(#3A8EBA, #15428e);
}


/* Les différents paramètres définissant le footer:*/


div.footer footer{
    display : flex ;
    justify-content : space-between;
    padding: 0px;
}

div.footer a{
    text-decoration: none;
    color: #FFF;
}

.footer{

    background-color: #303030;
    width: 100%;
    height: 200px;
    bottom: 0px;
    font-family: 'Montserrat';

}

.footer ul{
    list-style-type: none ;
    border: none;
    display: flex;
    margin-top: 0px;
    padding: none;
    width: auto;
    height: auto;
}

.footer li{
    padding: 20px;
}

footer{
    position:absolute;
    bottom:0px;
    left: 0px;
    right:0px;
    width:100%;
    height:80px;
    background-color: #000000;
}

footer ul{
    margin: auto;
    display: flex;
    list-style-type: none ;
}

footer li{
    padding: 20px;
    list-style-type: none ;
}

.footer a:hover{
    color: #3A8EBA;
}

address {
    color: white;
    text-decoration: none;
    font-style: normal;
}